.contentContainer {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.contentLogo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.contentPost {
  margin-bottom: 2rem;

  span {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
}

.title {
  margin-bottom: 0.5rem;
}

.subtitle {
  margin-bottom: 0.70rem;
}

.icon {
  color: #BBBBBB;
}

.loadPost {
  color: #FF57B2;
  margin-bottom: 3rem;
}
